.App {
  text-align: center;
  color: white;
  background-color: #111; /* Dark background for contrast */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.App-header {
  background-color: #111;
  padding: 20px;
  width: 100%;
  top: 0;
}

body {
  width: 100%;
  flex-flow: column;
  background-color: #111;
}

.header-content {
  display: inline-block;
  text-align: left;
}

main {
  margin-top: 60px; /* Give space for fixed header */
  padding: 20px;
}

.intro, .ventures {
  margin: 20px 0;
}

.intro h2 {
  font-size: 1.5em;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a{
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  color: whitesmoke;
  text-decoration: underline;
}

/* Add responsive design */
@media (max-width: 768px) {
  .App-header {
    position: static;
  }

  main {
    margin-top: 0;
  }
}